services:
  redis:
    image: redis:latest
    restart: always

  backend:
    image: share-backend:latest
    environment:
      SECRET_KEY: "99b6a5775317223e98826c64891f4506"
    ports:
      - "8000:5000"
    depends_on:
      - redis

  frontend:
    image: share-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
