version: "3.8"

services:
  redis:
    image: redis
    restart: always

  backend:
    build: ./backend
    environment:
      SECRET_KEY: "99b6a5775317223e98826c64891f4506"
    ports:
      - "8000:5000"
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

